html, head, body{
	margin: 0;
	padding: 0;

	font-family: Arial;
	font-size: 16px;
}

.pause-menu{
	display: none;

	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	transition: all ease-out .25s;
}
	.background{
		background: rgba(0, 0, 0, .5);

		transition: all ease-out .25s;
	}

.menu-container{
	margin: 0 auto;
	margin-top: 28px;
	width: 400px;
}
	.menu-button{
		margin-top: 16px;

		cursor: pointer;

		height: 32px;
		width: 312px;
		padding: 10px;

		background: #13181d;

		text-align: center;
		line-height: 32px;
		color: #FFFFFF; 

		transition: all ease-out .25s;
	}

	.menu-button:hover{
		margin-top: 16px;

		cursor: pointer;

		height: 32px;
		width: 312px;
		padding: 10px;

		background: green;

		text-align: center;
		line-height: 32px;
		color: #FFFFFF;

		transition: all ease-out .25s;
	}